.movieRow {
    margin-bottom: 50px;
}

.movieRow h2 {
    margin: 0px 0px 10px 30px;
}

.movieRow--listarea {
    overflow-x: hidden;
    padding-left: 40px;
}

.movieRow--list {
    width: 99999999px;
}

.movieRow--item {
    display: inline-block;
    width: 200px;
    cursor: pointer;
}

.movieRow--item img {
    width: 100%;
    transform: scale(0.9);
    transition: all ease-in-out 0.3s;
}

.movieRow--item img:hover {
    transform: scale(1);
}